<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans" 
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.2.xsd">

    <http auto-config="true">
        <form-login login-page="/faces/login.jsp" default-target-url="/faces/view/login/home.xhtml"
                    always-use-default-target="false" 
                    authentication-failure-url="/faces/login.jsp?authfailed=true" 
        />
        <logout invalidate-session="true" logout-url="/faces/view/login/logout.xhtml" logout-success-url="/faces/login.jsp?loggedout=true"/>  
        <session-management invalid-session-url="/faces/login.jsp">
            <concurrency-control max-sessions="2" error-if-maximum-exceeded="true" expired-url="/faces/login.jsp" />
        </session-management>
    </http>
      
          
    <authentication-manager alias="authenticationManager">
        <authentication-provider> 
            <password-encoder ref="encoder"/>
            <jdbc-user-service data-source-ref="dataSource"
				
                               users-by-username-query="
					select usuario,password, estado 
					from usuario where usuario=?" 
				
                               authorities-by-username-query="
					select u.usuario, ur.ctg_cat_nombre from usuario u, ctg_catalogo ur 
					where u.ctg_cat_id=ur.ctg_cat_id and u.usuario =?" 					
            />
        </authentication-provider>
    </authentication-manager>

    <!-- For hashing and salting user passwords -->
    <beans:bean id="encoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>

</beans:beans>